img {
	display: block;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 50px;
}

h1, h2, h3, h4, h5 {
	text-align: center;
}


h3 {
	font-size: 24px;
}

h1, h2 {
	font-weight: 600;
}

h3, h4, h5 {
	font-weight: 300;
}

body {
	width: 100%;
	font-family: 'Work Sans', sans-serif;
	color: #2D2D2A;
}

hr {
	width: 10%;
    border: 1px solid rgb(128, 128, 128);
}

.subhead {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.mb-0 {
	margin-bottom: 0px;
}

.mt-0 {
	margin-top: 0px;
}

.divide {
	margin-top: 28px;
	/*margin-bottom: 10px;*/
}
.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  background: #005994;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.learn-more {
	margin-top: 25px;
	text-align: center;
}

.paint-grid {
	padding:10px 10px 10px 10px;
}

.grid-photo {
	max-width: 100%;
}

.more-details {
	margin-top: 5px;
	margin-bottom:5px;
}